@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1>Transaction Success!</h1>
    <p>Transaction ID: @ViewData["TransactionId"] </p>
    <p>Transaction Date: @ViewData["TransactionDate"] </p>
    <p>Transaction Time: @ViewData["TransactionTime"] </p>
    <p>Name: @ViewData["TransactionName"] </p>
    <p>Price: @ViewData["TransactionPrice"] PHP</p>
</div>